* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  text-align: center;
  background-image: url(../../../public/background.png);

  background-size: cover;
  background-repeat: no-repeat;
}

#banner {
  grid-area: banner;
  width: 100%;
}

#detalhes {
  grid-area: detalhes;
  width: 100%;
}

#formulario {
  grid-area: formulario;
  width: 100%;
}

#presenca {
  grid-area: presenca;
}

.container {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "banner banner"
    "detalhes detalhes"
    "presenca presenca"
    "formulario formulario";

  padding: 1rem;
  color: white;
}

@media (min-width: 1024px) {
  #root {
    padding: 10rem;
    background-image: url(../../../public/background2.png);
    max-width: 100%;
    overflow-x: hidden;
  }
  .container {
    grid-template-areas:
      "banner banner"
      "detalhes detalhes"
      "formulario presenca";

    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    width: 89vw;
  }
}
