@import url("https://fonts.googleapis.com/css2?family=Barriecito&display=swap");

.banner {
  font-family: "Barriecito", system-ui;
  color: white;
  border-radius: 25px 25px 0 0;
  padding: 2rem;
}

.banner h1 {
  line-height: 50px;
  font-size: 5rem;
  margin-bottom: 1rem;
}
